/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* Footer styling */
footer {
    background-color: #3b3939;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
    line-height: 1.5; /* Ensure proper vertical alignment */
}

nav {
    background-color: #444;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    text-align: center;
    margin: 20px;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.price {
    font-weight: bold;
    color: #333;
}
.product img {
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 10px;
}

nav a.active {
    background-color: white; /* Background color for active link */
    color: red; /* Text color for active link */
}