<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GaidaStore - Your One-Stop Grocery Shop</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to GaidaStore - Your One-Stop Grocery Shop</h1>
    </header>
    <nav>
        <a href="{% url 'home' %}" {% if request.path == '/' %}class="active"{% endif %}>Home</a>
        <a href="#">Shop</a>
        <a href="{% url 'aboutus' %}" {% if request.path == '/aboutus/' %}class="active"{% endif %}>About Us</a>
        <a href="{% url 'contact' %}" {% if request.path == '/contact/' %}class="active"{% endif %}>Contact</a>
    </nav>
    
